body{
    font-family:'Roboto' sans-serif;
    display:flex;
    flex-direction:column;
    margin:0%;

}

.hero-text{
    background-color:#1f2937 ;
    display:flex;
    flex-direction:column;
    padding:10px;
    flex:auto;
}

.lh{
    align-self:stretch;
    display:flex;
    gap :30px;
    padding:50px 300px;
    align-items:center;
    flex:auto;


}

.uh{
    display:flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    flex:auto;
    padding:10px;
    padding-top: 0%;
    align-self: stretch;
    padding: 0 100px;
}

.logo,
#hlt{
   height:24px;
   width:auto;
}

#hlt{
    color:#f9faf8;
}

ul{
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
}

.uhl{
    display:flex;
    align-items: center;
    gap:12px;
}

#sanatan{
    display:flex;
    flex: 1 1 0;
    min-width: 0;
}

#left-lh{
    flex: auto;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

h1{
    margin:0;
    font-size:48px;
    font-weight: 900;
    color:#f9faf8;

}

button{
    align-self: flex-start;
}

#s {
    height: 200px;
    width:auto;
}

a,
.secondary-h {
    font-size:18px;
    color:#e5e7eb;
    margin-top: 3px;

}

.hb {
    background-color:#3882f6;
    color:#e5e7eb;
    border-style: none;
    border-radius: 5px;
    padding:5px 18px;
    margin-top: 8px;
}

h3 {
   text-align: center; 
   font-size: 36px;
   font-weight: 900;
   color:#1f2937;
   margin-top: 0%;
}


.product-img{
    height:140px;
    width:auto;
    border:5px solid #3882f6;
    border-radius:10px;
}

.Products{
    display: flex;
    justify-content: center;
    gap:30px;
}

.product{
    width:140px;
}

.secondary-text{
    font-size:13px;
    text-align:center;
}

.quote-section{
    display:flex;
    flex-direction:column;
    background-color:#e5e7eb;
    padding:50px;
}

#author{
    margin-left:60%;
    margin-top: 0%;
    text-align: start;
    font-weight: 900;
}

#quote{
    width:500px;
    align-self:center;
    text-align: start;
    font-size: 26px;
    font-weight:200;
    margin-bottom:10px;
}

p{
    margin:0;
}

.Products-section{
    padding:50px

}

.signup{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 70px 150px;


}

.box{
    background-color: #3882f6;
    display:flex;
    padding: 15px 100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius:5px;
}

#sign-up{
    align-self: center;
}

#sign-up-text{
    margin-bottom: 22.1px;
}

h4{
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 800;
    color:#e5e7eb;
}

#sign-up{
    background-color: #3882f6;
    border: #f9faf8 solid 2.5px;
    border-radius: 8px;
    padding:5px 22px;
    color:#e5e7eb;
}